*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/* HEADER */
.high-bar{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
   background-color: green;
   height: 90px;
  
}

.contenitore{
    display: flex;
}

.side-menù{
    background-color: violet;
    width: 20%;
    height: calc(100vh - 100px);
    z-index: 7;
    
}

.menu-centrale{
    padding-top: 6rem;
    background-color: black;
    overflow-y: auto;
    height: calc(100vh - 100px);
    width: 80%;
}

/* MAIN */

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.color{
    color: rgb(116, 118, 123);
}

.space-bar{
    padding-left: 1rem;
    padding-top: 1rem;
}

.flex{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-playlist{
   
    flex-basis: calc((100% - (5 * 1rem)) / 6);
}

.album{
    width: 100%;
}

.cont-playlist{
    margin-top: 2rem;
    padding-left: 1rem;
}

.title-bar, .title-playlist, .title-album{
    color: white;
   
}

.title-album,.text-below{
   text-align: center;
   
}

.text-below{
   padding-top: .5rem;
   color: rgb(116, 118, 123);
}

/* Bar Vertical */



































 .nav-music{
    background-color: rgb(40, 40, 40);
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
 }
