*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    background-color: rgb(8, 11, 18);
}

.btn-primary {
    background-color: rgb(8, 11, 18);
    color: white;
    height: 40px;
    width: 200px;
    margin-right: 1rem;
    border-radius: 20px;
    border: 1px solid white;
}

.bar-vertical{
    
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
    height: 100vh;
    width: 200px;
    background-color: black;
}
/* MAIN */

main{
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
    height: 82%;
   width: 1720px;
   position: absolute;
   left: 200px;
}

ul{
    display: flex;
    justify-content: center;
   list-style: none;
}

.space-bar{
    padding-left: 1rem;
    padding-top: 1rem;
}

.flex{
    display: flex;
}

.cont-playlist{
    margin-top: 2rem;
    padding-left: 1rem;
}

.album{
    padding-left: 1rem;
    padding-top: 1rem;
    height: 200px;
}

.title-album,.text-below{
   text-align: center;
}

.text-below{
    padding-top: 1rem;
}



 /* NAV */
nav{
    background-color: rgb(40, 40, 40);
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
  height: 80px;
}

.img-spotify{
   margin-top: 1rem;
    height: 50px;
}

.img-bar{
    margin-top: 1.4rem;
    height: 30px;
}

.text-bar{
    position: relative;
    bottom: 10px;
    vertical-align: super;
    font-size: 1.2rem;
    color: white;
}

.color{
   color: rgb(109, 109, 109); 
}

.title-bar, .title-playlist, .title-album{
    color: white;
    margin-top: 1rem;
}

.img-square{
    height: 50px;
    margin-top: .5rem;
}

.space{
    margin-top: 1rem;
}

.cont-install-app{
    padding-top: 16rem;
}

.img-download, .img-profile{
   height: 25px;
}

.text-install{
    display: inline-block;
    margin-left: .5rem;
    position: relative;
    bottom: 2px;   
}

.line{
    margin-top: 1rem;
    width: 160px;
    border-color: rgb(109, 109, 109);
}

.img-profile{
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
}

.text-name{
    position: relative;
    bottom: 4px;
    display: inline-block;
    color: white;
    margin-top: 3.2rem;
}


